html, body {
  height: 100%;
}

#wrap {
  min-height: 85%;
}

#main {
  overflow:auto;
  padding-bottom:3em; /* this needs to be bigger than footer height*/
}

.footer {
  position: relative;
  margin-top: -2em; /* negative value of footer height */
  height: 2em;
  clear: both;
  padding-top: 0px;
  background-color: #CF8300;
}

body {
  text-align: center;
}
th {
  text-align: center;
}
.unverified {
  border: 3px solid #FF5252;
}
.input-group-addon {
  width: auto;
}

.clickable-row {
  cursor:pointer;
}

.click-indicator {
  text-decoration: underline;
}

#login-form {
  display: flex;
  flex-direction: column;
}

#login-form .form-group {
  margin: auto;
  max-width: 35em;
}

.act-view {
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 500px) {
  .act-view {
    flex-wrap: wrap;
  }
  .contact-row {
    width: 100%;
  }
}

.act-view > div {
  display: inline-flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
}

.act-view > div > form, .act-view > div > button {
  align-self: flex-end;
}
.contact-row {
  display: block;
  align-self: flex-end;
}

#createActForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#createActForm > .form-group {
  min-width: 25em;
}
